appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
cffi==1.9.1
click==6.6
cryptography==1.7.2
decorator==4.0.9
Django==1.10.4
enum34==1.1.6
esptool==1.0.1
Fabric==1.13.1
gnureadline==6.3.3
idna==2.2
ipaddress==1.0.18
ipython==4.2.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonfield==1.0.3
MarkupSafe==0.23
nodemcu-uploader==0.3.1
paho-mqtt==1.1
paramiko==2.1.1
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
pyasn1==0.2.2
pycparser==2.17
pyserial==3.0.1
redis==2.10.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
Werkzeug==0.11.11
