
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><!--span class="glyphicon glyphicon-link"></span-->PID/Etapa/Fermentador</h1>
    </div>
    <div class="panel-body text-center">
        <h1>
            <!--span class="glyphicon glyphicon-tint" aria-hidden="true"></span--><span data-current_temp>{{ pid.status.sensors.0.value|floatformat|default:'00.00' }}</span> ºC
        </h1>

        <div class="row">
            <div class="col-xs-5">
                <h4 class="text-muted">
                    <!--span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span-->SP: <span data-set_point>{{ pid.status.setpoints.SP|floatformat|default:'00.00' }}</span> ºC
                </h4>
            </div>
            <div class="col-xs-7">
                <h5 class="text-muted">
                    <!--span class="glyphicon glyphicon-time" aria-hidden="true"></span-->Tiempo: <span data-current_time>--:--</span> / <span data-set_time>-- min</span>
                </h5>
            </div>
        </div>

    </div>            
    <div class="panel-footer">
        <div class="row text-center">
            {% comment %}
            <div class="col-xs-3 {% if pid.status.reles.0.status == "1" %}text-warning{% endif %}">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {% if pid.status.reles.0.status == "1" %}<strong>H</strong>{% else %}H{% endif %}</button>
            </div>
            <div class="col-xs-3 {% if pid.status.reles.1.status == "1" %}text-success{% endif %}">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {% if pid.status.reles.0.status == "1" %}<strong>P</strong>{% else %}P{% endif %}</button>
            </div>
            {% endcomment %}
            <div class="col-xs-6">
                <button class="btn btn-danger btn-block" type="button" data-stop_pid><!--span class="glyphicon glyphicon-stop" aria-hidden="true"></span-->STOP</button>
            </div>
            <div class="col-xs-6">
                <button class="btn btn-default btn-block" type="button" data-toggle="collapse" data-target="#set-n" aria-expanded="false" aria-controls="set-n"><!--span class="glyphicon glyphicon-cog" aria-hidden="true"></span-->SET</button>
            </div>
        </div>
    </div>
</div>

<div class="collapse" id="set-n">
  <div class="well">
        <form class="form">
            <div class="form-group">
                <label for="setPointInput">Set Point (SP)</label>
                <input type="number" step="0.5" class="form-control" id="setPointInput" name="set_point" placeholder="SP" value="00.00">
            </div>
            <div class="form-group">
                <label for="timeInput">Tiempo (minutos)</label>
                <input type="number" class="form-control" id="timeInput" name="time" placeholder="Tiempo" value="00">
            </div>
            
            <input type="hidden" name="P" value="{{ pid.status.setpoints.P|floatformat }}" />
            <input type="hidden" name="I" value="{{ pid.status.setpoints.I|floatformat }}" />
            <input type="hidden" name="D" value="{{ pid.status.setpoints.D|floatformat }}" />

            <button type="submit" class="btn btn-default" onclick="clearForm()">Reset</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
  </div>
</div>
