{% extends "base.html" %}
{% load iotdevice_tags %}
{% block title %}Estado de fermentadores{% endblock %}
{% block main %}
<div class="row">
    {% for sensor in object_list.0.status.sensors %}
    <div class="col-md-6">
        <h3 class="bg-info">Sensor {{ sensor.device }}:  {{ sensor.value|floatformat }} ºC</h3>
        <div id="container-sensor-{{ forloop.counter }}"></div>
    </div>
    {% endfor %}

    <div class="col-md-6">
        {% comment %}
        {% for setpoint, value in object_list.0.status.setpoints.iteritems %}
        <p>{{ setpoint }}: {{ value }}</p>
        {% endfor %}
        {% endcomment %}

        <p><strong>SP</strong>: {{ object_list.0.status.setpoints.SP }}</p>
        <p><strong>P</strong>: {{ object_list.0.status.setpoints.P }}</p>
        <p><strong>I</strong>: {{ object_list.0.status.setpoints.I }}</p>
        <p><strong>D</strong>: {{ object_list.0.status.setpoints.D }}</p>
        <p><strong>High</strong>: {{ object_list.0.status.setpoints.high }}</p>
        <p><strong>Low</strong>: {{ object_list.0.status.setpoints.low }}</p>
        <p><strong>Delta</strong>: {{ object_list.0.status.setpoints.delta }}</p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <form class="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Intervalo</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" id="id_paginate_by" name="paginate_by" placeholder="Intervalo" value="{{ request.GET.paginate_by|default:'' }}">
                    <div class="input-group-addon">X</div>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Autorefresh</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" id="id_autorefresh_segundos" name="autorefresh" placeholder="Segundos" value="{{ request.GET.autorefresh|default:'' }}">
                    <div class="input-group-addon">ms</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

<div id="container"></div>

<table class="table table-striped" id="datatable">
    <thead>
        <th>Date</th>
        {% for sensor in object_list.0.status.sensors %}
        <th>Sensor {{ sensor.device }}</th>
        {% endfor %}

        {% for switch in object_list.0.status.switch.iterkeys %}
        <th>Switch {{ switch }}</th>
        {% endfor %}
    </thead>

    {% for p in object_list %}
    <tr>
        <td>{{ p.date }}</td>
        {% for sensor in p.status.sensors %}
        <td>{{ sensor.value|floatformat }} ºC</td>
        {% endfor %}
        {% for switch in p.status.switch.itervalues %}
        <td>{{ switch }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<script>
Highcharts.chart('container', {
    chart: {
        type: 'spline',
        zoomType: 'x'
    },
    title: {
        text: 'Curva de temperatura de fermentadores'
    },
    yAxis: {
        title: {
            text: 'Temperatura (°C)'
        }
    },
    xAxis: {
        categories: [{% for i in object_list reversed %}"{{ i.date.isoformat }}"{% if not forloop.last %},{% endif %}{% endfor %}],
        type: 'datetime'
    },
    series: [{% for index in object_list.0.status.sensors %}{
        name: "Sensor {{ forloop.counter }}",
        data: [{% for i in object_list reversed %}{% get_serie i.status.sensors forloop.parentloop.counter0 as sensor %}{{ sensor.value|floatformat }}{% if not forloop.last %},{% endif %}{% endfor %}]
    }{% if not forloop.last %},{% endif %}{% endfor %}]
});

{% if request.GET.autorefresh %}
setTimeout(function(){ window.location.reload() }, {{ request.GET.autorefresh|default:'5000' }});
{% endif %}
</script>


<script>
var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

{% for sensor in object_list.0.status.sensors %}
// Sensor {{ forloop.counter }}
var chartSpeed = Highcharts.chart('container-sensor-{{ forloop.counter }}', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 35,
        title: {
            text: 'Temp'
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Temp',
        data: [{{ sensor.value|floatformat }}],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">ºC</span></div>'
        },
        tooltip: {
            valueSuffix: ' ºC'
        }
    }]

}));
{% endfor %}
</script>
{% endblock %}
