{% extends "base.html" %}
{% load tz iotdevice_tags %}
{% block title %}Estado de fermentadores{% endblock %}
{% block main %}
<div class="row">
    {% for sensor in object_list.0.status.sensors %}
    <div class="col-md-6">
        <h3 class="bg-info">Sensor {{ sensor.device }}:  {{ sensor.value|floatformat }} ºC</h3>
        <div id="container-sensor-{{ forloop.counter }}"></div>
    </div>
    {% endfor %}

    <div class="col-md-3">
        {% comment %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">PID</h1>
            </div>
            <div class="panel-body">
                <h2>SP <span class="label label-info">{{ pid.status.setpoints.SP }}</span></h2>
                <h3>P <span class="label label-default">{{ pid.status.setpoints.P }}</span></h3>
                <h3>I <span class="label label-default">{{ pid.status.setpoints.I }}</span></h3>
                <h3>D <span class="label label-default">{{ pid.status.setpoints.D }}</span></h3>
                {{ pid.status }}
            </div>
        </div>
        {% endcomment %}

        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title"><span class="glyphicon glyphicon-link"></span> PID/Etapa/Fermentador</h1>
            </div>
            <div class="panel-body text-center">
                <h1>
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> {{ pid.status.sensors.0.value|floatformat }} ºC
                </h1>

                <div class="row">
                    <div class="col-xs-6">
                        <h4 class="text-muted">
                            <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span> {{ pid.status.setpoints.SP|floatformat }} ºC
                        </h4>
                    </div>
                    <div class="col-xs-6">
                        <h4 class="text-muted">
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span> 70:33
                        </h4>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-xs-4">
                        <span class="label label-primary">P: {{ pid.status.setpoints.P }}</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="label label-primary">I: {{ pid.status.setpoints.I }}</span>
                    </div>
                    <div class="col-xs-4">
                        <span class="label label-primary">D: {{ pid.status.setpoints.D }}</span>
                    </div>
                </div>
            </div>            
            <div class="panel-footer">
                <div class="row text-center">
                    <div class="col-xs-4 {% if pid.status.reles.0.status == "1" %}text-warning{% endif %}">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> {% if pid.status.reles.0.status == "1" %}<strong>H</strong>{% else %}H{% endif %}</button>
                    </div>
                    <div class="col-xs-4 {% if pid.status.reles.1.status == "1" %}text-success{% endif %}">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> {% if pid.status.reles.0.status == "1" %}<strong>P</strong>{% else %}P{% endif %}</button>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <form class="form">
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Intervalo</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" id="id_paginate_by" name="paginate_by" placeholder="Intervalo" value="{{ request.GET.paginate_by|default:'' }}">
                    <div class="input-group-addon">X</div>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="exampleInputAmount">Autorefresh</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </div>
                    <input type="text" class="form-control" id="id_autorefresh_segundos" name="autorefresh" placeholder="Segundos" value="{{ request.GET.autorefresh|default:'' }}">
                    <div class="input-group-addon">ms</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="submit" class="btn btn-default" onclick="clearForm()">Reset</button>
        </form>
    </div>
</div>

<div id="container"></div>

<table class="table table-striped" id="datatable">
    <thead>
        <th>Date</th>
        {% for sensor in object_list.0.status.sensors %}
        <th>Sensor {{ sensor.device }}</th>
        {% endfor %}

        {% for switch in object_list.0.status.switch.iterkeys %}
        <th>Switch {{ switch }}</th>
        {% endfor %}
    </thead>

    {% for p in object_list %}
    <tr>
        <td>{{ p.date }}</td>
        {% for sensor in p.status.sensors %}
        <td>{{ sensor.value|floatformat }} ºC</td>
        {% endfor %}
        {% for switch in p.status.switch.itervalues %}
        <td>{{ switch }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<script>
function clearForm(){
    $('form.form').trigger('reset').find('input').val('');
}

Highcharts.chart('container', {
    chart: {
        type: 'spline',
        zoomType: 'x'
    },
    title: {
        text: 'Curva de temperatura de fermentadores'
    },
    yAxis: {
        title: {
            text: 'Temperatura (°C)'
        }
    },
    xAxis: {
        categories: [{% for i in object_list reversed %}"{{ i.date }}"{% if not forloop.last %},{% endif %}{% endfor %}],
        type: 'datetime'
    },
    series: [{% for index in object_list.0.status.sensors %}{
        name: "Sensor {{ forloop.counter }}",
        data: [{% for i in object_list reversed %}{% get_serie i.status.sensors forloop.parentloop.counter0 as sensor %}{{ sensor.value|floatformat }}{% if not forloop.last %},{% endif %}{% endfor %}]
    }{% if not forloop.last %},{% endif %}{% endfor %}]
});

{% if request.GET.autorefresh %}
setTimeout(function(){ window.location.reload() }, {{ request.GET.autorefresh|default:'5000' }});
{% endif %}
</script>


<script>
var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: null,

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 16
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

{% for sensor in object_list.0.status.sensors %}
// Sensor {{ forloop.counter }}
var chartSpeed = Highcharts.chart('container-sensor-{{ forloop.counter }}', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: 35,
        title: {
            text: 'Temp'
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Temp',
        data: [{{ sensor.value|floatformat }}],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">ºC</span></div>'
        },
        tooltip: {
            valueSuffix: ' ºC'
        }
    }]

}));
{% endfor %}
</script>
{% endblock %}
