{% extends "base.html" %}
{% load tz iotdevice_tags %}
{% block title %}Estado de fermentadores{% endblock %}
{% block main %}
<br />
<div class="row">
    <div class="col-xs-12">
        {% include 'iotdevice/controller_widget.html' %}
    </div>
</div>
{% endblock %}
{% block custom_scripts %}
<script>

    function fullStatus() {
        $.getJSON('?format=json', function(response) {
            console.log(response);
            var temp = response.pid.sensors[0].value;
            var sp = response.pid.setpoints.SP;
            var ct = response.pid.pid_time || '--:--';
            var st = response.pid.pid_settime || '--:--';

            $("[data-current_temp]").text(temp);
            $("[data-set_point]").text(sp);
            $("[data-current_time]").text(ct);
            $("[data-set_time]").text(st);
        });
    }


    $("form.form").on("submit", function(event) {
        event.preventDefault();

        var $form = $(this);
        var xhr = $.ajax({
            type: 'POST',
            url: '?format=json',
            data: $form.serialize(),
            dataType: 'json',
            global: false,
            beforeSend: function(jqXHR){
                console.log('loading...');
            }
        });

        $("#set-n").collapse('hide');
        return false;
    });
    
    var i = setInterval(fullStatus, 5000);
</script>
{% endblock %}
